body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('background.jpg');
}

.button_style {
  margin-left: 10px !important;
  margin-right: 10px;
}

.centerTable {
  margin: 50px;
}

h3 {
    color:cornflowerblue; 
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder; 
}

h1 {
  color:darkslategray; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder; 
  font-size: 350%;
}



